@charset "utf-8";


#createfixedsize-input input {
	width: 25px;
	padding: 8px;
	margin-right: 2px;
	float:left;
}

#createfixedsize-go p
{ 
	padding: 8px 8px 7px; 
	float:right;
}

#createuserdefined-input input {
	width: 75px;
	padding: 8px;
	margin-right: 2px;
	float:left;
}

#createuserdefined-go p
{ 
	padding: 8px 8px 7px; 
	float:right;
}

#insertkth-input input {
	width: 25px;
	padding: 8px;
	margin-right: 2px;
	float:left;
}
#insertkth-go p
{ 
	padding: 8px 8px 7px; 
	float:right;
}

#inserthead-input input {
	width: 25px;
	padding: 8px;
	margin-right: 2px;
	float:left;
}
#inserthead-go p
{ 
	padding: 8px 8px 7px; 
	float:right;
}

#inserttail-input input {
	width: 25px;
	padding: 8px;
	margin-right: 2px;
	float:left;
}
#inserttail-go p
{ 
	padding: 8px 8px 7px; 
	float:right;
}

#removekth-input input {
	width: 25px;
	padding: 8px;
	margin-right: 2px;
	float:left;
}
#removekth-go p
{ 
	padding: 8px 8px 7px; 
	float:right;
}



/*all action pullout (input) stuff here*/
.create { bottom: 146px; }
	#create-random p { padding: 7px 8px 8px; }
	#create-input input {
		width: 25px;
		padding: 10px 8px 5px;
	}
	#create-input-arr input {
		width: 100px;
		padding: 10px 8px 5px;
	}
	#create-random-sorted p { padding: 7px 8px 8px; }
	#create-random-fixed-size p { padding: 7px 8px 8px; }
	#create-from-arr p { padding: 7px 8px 8px; }
	#create-err { padding: 8px 0px 7px; } /* currently unused*/

.search { bottom: 119px; }
	#find-min p { padding: 5px 8px; }
	#find-max p { padding: 5px 8px; }
	#search-input input {
		width: 25px;
		padding: 6px 8px 5px;
	}
	#search-peek-front p { padding: 5px 8px; }
	#search-peek-back p { padding: 5px 8px; }
	#search-go p { padding: 5px 8px; }
	#search-err { padding: 5px 0px; } /* currently unused*/
		
.insert { bottom: 92px; }
	#insert-head p { padding: 5px 8px; }
	#insert-tail p { padding: 5px 8px; }
	#insert-kth p { padding: 5px 8px; }
	#insert-input-kth input {
		width: 50px;
		padding: 6px 8px 5px;
	}
	#insert-input input {
		width: 140px;
		padding: 6px 8px 5px;
	}
	#insert-go p { padding: 5px 8px; }
	#insert-err { padding: 5px 0px; }
	#pushtop-input input{
		width: 25px;
		padding: 6px 8px 5px;
	}
	#pushtop-go p { padding: 5px 8px; }
	#pushtop-err { padding: 5px 0px; }
	#enqueueback-input input{
		width: 25px;
		padding: 6px 8px 5px;
	}
	#enqueueback-go p { padding: 5px 8px; }
	#enqueueback-err { padding: 5px 0px; }

	#insert-deque-input input{
		width: 25px;
		padding: 6px 8px 5px;
	}
	#insert-deque-front p { padding: 5px 8px; }
	#insert-deque-back { padding: 5px 8px; }
	#insert-deque-err { padding: 5px 0px; }
		
.remove { bottom: 65px; }
	#remove-head p { padding: 5px 8px; }
	#remove-tail p { padding: 5px 8px; }
	#remove-kth p { padding: 5px 8px; }
	#remove-input-kth input {
		width: 50px;
		padding: 6px 8px 5px;
	}
	#remove-input input {
		width: 140px;
		padding: 6px 8px 5px;
	}
	#remove-deque-front p { padding: 5px 8px; }
	#remove-deque-back p { padding: 5px 8px; }
	#remove-go p { padding: 5px 8px; } /* currently unused*/ 
	#remove-err { padding: 5px 0px; } /* currently unused*/ 

.inorder { bottom: 60px; }
	#inorder-err { padding: 8px 0px 7px; } /* currently unused*/
	
/*all tutorial stuff here*/
#list-tutorial-1 {
	top: 60px;
	left: 60px;
	width: 250px;
}
#list-tutorial-2 {
	top: 60px;
	left: 220px;
	width: 230px;
}
	#list-tutorial-2:before {
		bottom: 100%;
		left: 50%;
		border-bottom-color: black;
		margin-left: -10px;
	}
#list-tutorial-3 {
	bottom: 200px;
	left: 60px;
	width: 220px;
}
	#list-tutorial-3:before {
		top: 100%;
		left: 20%;
		border-top-color: black;
		margin-left: -10px;
	}
#list-tutorial-4 {
	top: 200px;
	left: 50%;
	width: 200px;
	margin-left: -110px;
}
	#list-tutorial-4:before {
		bottom: 100%;
		left: 50%;
		border-bottom-color: black;
		margin-left: -10px;
	}
#list-tutorial-5 {
	bottom: 335px;
	right: 150px;
	width: 200px;
}
	#list-tutorial-5:before {
		top: 100%;
		left: 20%;
		border-top-color: black;
		margin-left: -10px;
	}
#list-tutorial-6 {
	bottom: 275px;
	right: 170px;
	width: 180px;
}
	#list-tutorial-6:before {
		top: 100%;
		left: 20%;
		border-top-color: black;
		margin-left: -10px;
	}
#list-tutorial-7 {
	bottom: 70px;
	left: 50%;
	width: 220px;
	margin-left: -120px;
}
	#list-tutorial-7:before {
		top: 100%;
		left: 50%;
		border-top-color: black;
		margin-left: -10px;
	}
#list-tutorial-8 {
	top: 70px;
	right: 60px;
	width: 150px;
}
	#list-tutorial-8:before {
		bottom: 100%;
		left: 50%;
		border-bottom-color: black;
		margin-left: -10px;
	}