@charset "utf-8";

html, body, p {
	margin: 0px;
	padding: 0px;
}

a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
}

u {
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

img {
	display: block;
}

ul, li {
	padding: 0px;
	margin: 0px;
}

form {
	margin: 0px;
	padding: 0px;
}

input {
	border: none;
	outline: none;
	margin: 0px;
}